.header-porto{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.body-porto{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

table{
    border-spacing: 0px;
    margin-left: 40px;
    padding-bottom: 20px;
}

.weContent {
    margin-left: 15px;
}

.mySkills-Content{
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}